@model List<CategoryWithArticlesViewModel>
@{
    Layout = null;
}

<div class="container">
    <br /> <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>           
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Categories</td>
                <td>@item.Categories</td>                
            </tr>
        }
    </table>    
</div>