 @model BlogStore.EntityLayer.Entities.Article
@{
    ViewData["Title"] = "CreateArticle";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<form method="post">
    <label for="Title">Makale Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />

    <label for="ImageUrl">Makale Görseli</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />

    <label for="CategoryId">Makale Kategorisi</label>
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
    <br />

    <label for="Description">Makale Açıklaması</label>
    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
    <br />

    <button type="submit" class="btn btn-info">Makaleyi Oluştur</button>
</form>


