@model List<BlogStore.EntityLayer.Entities.Article>
@{
    ViewData["Title"] = "MyArticleList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Makale Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>Başlık</th>
        <th>Görüntüle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td><a href="/Article/ArticleDetail/@item.Slug" class="btn btn-primary">read</a></td>
        </tr>
    }
</table>