@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_HeadLayoutComponentPartial")

<body>

    @await Component.InvokeAsync("_NavBarLayoutComponentPartial")

    @await Component.InvokeAsync("_ArticleDetailMainCoverImageComponentPartial", new { id = ViewBag.i })

    <section class="section">
        <div class="container">

            <div class="row blog-entries element-animate">

                <div class="col-md-12 col-lg-8 main-content">

                    @await Component.InvokeAsync("_ArticleDetailContentComponentPartial", new { id = ViewBag.i })

                    <div class="pt-5">
                        <p>Categories:  <a href="#">Food</a>, <a href="#">Travel</a>  Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p>
                    </div>

                    @await Component.InvokeAsync("_ArticleDetailCommentListComponentPartial", new { id = ViewBag.i })

                   
                    <div class="comment-form mt-5">
                        
                        <input type="hidden" id="articleId" value="@ViewBag.i" />

                        <form id="commentForm">
                            <textarea id="commentText" rows="4" class="form-control" placeholder="Yorumunuzu yazın..."></textarea>
                            <button type="submit" class="btn btn-primary mt-2">Gönder</button>
                        </form>
                    </div>
                    

                </div>

              

                <div class="col-md-12 col-lg-4 sidebar">
                    <div class="sidebar-box search-form-wrap">
                        <form action="#" class="sidebar-search-form">
                            <span class="bi-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </form>
                    </div>
              
                    @await Component.InvokeAsync("_ArticleDetailAboutAuthorComponentPartial", new { id = ViewBag.i })

                  
                    @await Component.InvokeAsync("_ArticleDetailPopulerPostComponentPartial")
                
                    @await Component.InvokeAsync("_ArticleDetailCategoryListComponentPartial")


                

                    <div class="sidebar-box">
                        <h3 class="heading">Tags</h3>
                        <ul class="tags">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Freelancing</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Freelancing</a></li>
                        </ul>
                    </div>
                </div>
            

            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_ArticleDetailFooterComponentPartial")
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $('#commentForm').submit(function (e) {
            e.preventDefault();

            var articleId = $('#articleId').val();
            var commentDetail = $('#commentText').val();

            if (!commentDetail || commentDetail.length < 3) {
                alert("Yorum en az 3 karakter olmalıdır.");
                return;
            }

            $.ajax({
                url: '/Comment/AddCommentAjax',
                type: 'POST',
                data: {
                    articleId: articleId,
                    commentDetail: commentDetail
                },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        $('#commentText').val('');
                        $('#commentsList').append(
                            '<div class="comment-item"><strong>' + response.userName + '</strong> <small>(' + response.date + ')</small><p>' + response.comment + '</p></div>'
                        );
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert("Sunucu hatası oluştu.");
                }
            });
        });
    </script>

    @await Component.InvokeAsync("_ScriptLayoutComponentPartial")

</body>
</html>
