
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <a href="/Default/Index" class="logo m-0 float-start">Blogstore<span class="text-primary">.</span></a>
                    </div>
                    <div class="col-8 text-center">
                        <form action="#" class="search-form d-inline-block d-lg-none">
                            <input type="text" class="form-control" placeholder="search...">
                            <span class="bi-search"></span>
                        </form>

                        <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                            <li><a href="/Default/Index/">Ana Sayfa</a></li>
                            <li><a href="/Writer/Index/">Yazarlar</a></li>
                            <li><a href="/CategoryList/CategoryList/">Kategoriler</a></li>
                            @if (User.Identity.IsAuthenticated)

                            {
                                <li><a href="/Login/UserLogin">Giriş Yap</a></li>
                                <li><a href="/Register/CreateUser">Kayıt Ol</a></li>
                                <li><a href="/Author/CreateArticle">Yeni Makale</li>                                
                                <li><a href="/Author/GetProfile">Profile</a></li>
                                
                            }
                            else
                            {
                                <li><a href="/Login/UserLogout" onclick="return confirm('Çıkış yapmak istediğinize emin misiniz?');">Çıkış Yap</a></li>
                               
                            }
                        </ul>
                    </div>
                    <div class="col-2 text-end">
                        <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                            <span></span>
                        </a>
                        <form action="#" class="search-form d-none d-lg-inline-block">
                            <input type="text" class="form-control" placeholder="Aranacak kelimeyi girin...">
                            <span class="bi-search"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>